.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #161515;
    height: 10vh;

    p {
        font-size: 1rem;
        
        span {
            color: #ffd900;
        }
    }
}